* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #F3F5FC ;
}

.title {
    position: absolute;
    left: 12%;
    top: 5%;
    font-family: "Inter";
    font-style:normal;
    font-weight:bolder;
    font-size: 40px;
    color: #0a3871;
}

.textarea {
    position: absolute;
    width: 40%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #F3F5FC;
}

.textarea::placeholder {
    font-family: "Inter";
    font-style: normal;
    color: #0a3871
}

.textarea:focus {
    border: none;
    outline: none;

}

.conditions {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 75%
}

.conditions p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057
}

.buttons_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    width: 82%;
    height: 5%;
    position: absolute;
    top: 78%;
    left: 12%;
    margin-bottom: 2rem;
}

.btn-cifrar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 80px;
    width: 25%;
    background-color: #0a3871;
    border-radius: 20px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #FFFF;

}

.btn-descrifrar{
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    padding: 2%;
    gap: 80px;
    width: 25%;
    background-color: #D8DFE8;
    border-radius: 20px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0a3871;
    border: 1px solid #0a3871 ;
}

.response_container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: white;
    border-radius: 24px;
}

.encripted_message{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90%;
}

.encripted_message h2 {
    display: flex;
    position: absolute;
    justify-content: center;
    text-align: center;
    top: 70%;
    margin-bottom: 1em;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    list-style: 120%;
    color: #343a;
}

.encripted_message p {
    position: absolute;
    text-align: center;
    font-family: "Inter";
    font-weight: 300;
    width: 80%;
    top: 90%;
    color: #495057
}

#image {
    position: absolute;
    width: 70%;
    height: 50%;
}


/* Pop-up styles*/
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 60px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: white;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}
.modal-content p{
    margin-left: 10px;
    word-wrap: break-word;  
    overflow-wrap: break-word; 
    box-sizing: border-box;
    white-space: pre-wrap;  
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#popup{
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 60px; 
    left: 0;
    top: 0;
    width: 60%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

#popup-content {
    background-color: white;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    border-radius: 24px;
    width: 80%; 
}

#popup-content p {
    margin-left: 10px;
    word-wrap: break-word;  
    overflow-wrap: break-word; 
    box-sizing: border-box;
    white-space: pre-wrap;  
}
#close-empty {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 5px;
}

#copyBtn{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 80px;
    width: 25%;
    background-color: #0a3871;
    border-radius: 20px;
    font-family: "Inter";
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #FFFF;
    margin-top: 2em;
}
#encryptedText{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0a3871
}
#copyBtn:hover{
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Footer styles */

.footerContainer {
    position: absolute;
    margin-top: 5rem;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #0a3871;
    color: #fff;
    padding: 10px;
    z-index: 1000;
  }
  
  .footer {
    font-size: 14px;
  }
  
  .footer b {
    color: #ebebe2; 
  }
.alura {
    color: white
}
  
  .github{
    position: fixed;
    bottom: 0px;
    right: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5f6063;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-decoration: none;
    font-size: 20px;
  }





